body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    color: #fff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #btc-balance {
    color: #fff;
    font-size: 1.2em;
  }
  
  #btc {
    font-weight: bold;
    color: #f39c12;
  }
  
  /* Animation */
  .login-box {
    animation: slideIn 1s ease-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  